* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    display: none;
}

:root {
    --bg-color: #181f1c;
    --text-color: #f0f0c9;
    --accent-color: #00aaff;
    --secondary-bg: #232b27;
    --accent-break: #ff009e;
    --light-bg: rgba(240, 240, 201, 0.05);
    --green-task: #4CAF50;
    --yellow-task: #FFC107;
    --red-task: #F44336;
    --completed-task: #666666;
}

em {
    color: var(--accent-break)
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
    overflow-x: hidden;
    height: 100svh;
    width: 100dvw;
}


.page {
    height: 100svh;
    width: 100dvw;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

main>.page {
    padding-top: 5em;
    margin-top: 5em;
}

h1 {
    font-size: 50pt;
}

h2 {
    font-size: 45pt;
}

/* Header */
#introduction {
    flex-direction: row;
    position: relative;
    background: linear-gradient(to bottom right, var(--accent-color) 20%, var(--bg-color) 60%);

}

.stack-icon {
    width: 25%;
    place-self: center;
}


#greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10rem;
    gap: 1rem;
    max-width: 60%;
}

#greeting+img {
    margin: 0 auto;
    padding: 5rem 0;
}

#cta-buttons {
    display: flex;
    justify-content: space-around;
}


/* main */

main>section {
    justify-content: space-evenly;
}


.circle {
    background-color: var(--accent-color);
    border-radius: 100%;
    width: 25%;
    height: 25%;
    place-content: center;
    align-self: center;
}

.bg-green {
    background-color: rgb(29, 155, 29);
}

.bg-orange {
    background-color: orange;
}

.bg-red {
    background-color: red;
}

#point-cards>.card {
    border-left: 2px solid green;
}

#action-cards>.card {
    background-color: transparent;
    border: none;
}

#action-cards>.card>h3,
#action-cards>.card>p {
    border-left: 2px solid var(--accent-color);
    border-right: 2px solid var(--accent-color);
    background-color: var(--secondary-bg);
    /* background: linear-gradient(to bottom right, var(--accent-color) 20%, var(--bg-color) 60%); */

}

@media (max-width: 1024px) {
    #introduction {
        flex-direction: column;
    }

    #greeting {
        padding: 1rem;
        max-width: 100%;
    }

    #greeting+img {
        margin: auto;
        padding: 1rem;
        max-width: 80%;
    }

    #cta-buttons {
        display: flex;
    }

    .page {
        height: fit-content;
    }
    h1{
        font-size: 2.5rem;
    }
    h2{
        font-size: 1.5rem;
    }
}

/* dashboards */

#examples {
    /* height: auto; */
    background-color: var(--light-bg);
}