* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    display: none;
}

:root {
    --bg-color: #181f1c;
    --text-color: #f0f0c9;
    --accent-color: #00aaff;
    --secondary-bg: #232b27;
    --accent-break: #ff009e;
    --light-bg: rgba(240, 240, 201, 0.05);
    --green-task: #4CAF50;
    --yellow-task: #FFC107;
    --red-task: #F44336;
    --completed-task: #666666;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
    overflow-x: hidden;
    height: 100svh;
    width: 100dvw;
}

.page {
    height: 100svh;
    width: 100dvw;
    text-align: center;
    display: flex;
    place-content: center;
    gap: 1rem;
    flex-direction: column;
    overflow: hidden;
}

main>.page {
    padding-top: 5em;
    margin-top: 5em;
}

h1 {
    font-size: 50pt;
}

h2 {
    font-size: 45pt;

}

.page>h2,
.page>h3 {
    margin-bottom: 2rem;
}

#introduction {
    flex-direction: row;
    position: relative;
    background: linear-gradient(to bottom right, var(--accent-color) 20%, var(--bg-color) 60%);
}

#greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10rem;
    gap: 1rem;
    max-width: 60%;
}
#greeting+img {
    max-height: 80%;
    place-self: center;
}

.stack-icon {
    width: 25%;
    place-self: center;
}

#cta-buttons {
    display: flex;
    justify-content: space-around;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    border-radius: 50%;
    width: 3em;
    height: 3em;
    text-align: center;
    font-weight: bold;
    color: var(--text-color);
}


.bg-green {
    background: rgb(29, 155, 29);
}

.bg-orange {
    background: orange;
}

.bg-red {
    background: red;
}



@media (max-width: 1024px) {
    #introduction {
        flex-direction: column;
    }

    #greeting {
        padding: 1rem;
        max-width: 100%;
    }

    #greeting+img {
        max-width: 80%;
        max-height: 50%;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .page {
        height: fit-content;
    }
}

#examples {
    background: var(--light-bg);
}

#Waitlist {
    margin: auto;
}