#navigation {
    padding: 1rem 5rem;
    position: sticky;
    top: 0;
    background-color: var(--secondary-bg);
    z-index: 2;
    border-bottom: 1px solid var(--accent-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu-toggle {
    display: none;
}

#menu-icon {
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
    z-index: 4;
}

#side-panel {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100vh;
    background-color: var(--secondary-bg);
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease;
    z-index: 3;
    padding-top: 70px;
}

#links {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
    gap: 2em;
    align-items: center;
}

nav>h2 {
    font-size: 2rem;
    z-index: 1;
}

/* mobile */
@media (max-width: 1024px) {
    nav>.desktop-only {
        display: none;
    }

    #links {
        display: none;
    }

    #cta-button {
        display: none;
    }

    #menu-icon {
        left: 2em;
        top: .9em;
        position: fixed;
        display: block;
    }

    #menu-toggle:checked~main::before {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    #side-panel>h2 {
        font-size: 2rem;
        justify-self: center;
    }

    .waitlist {
        display: flex;
        place-content: center;

    }

    #side-panel li a:hover {
        color: var(--accent-color);
    }

    #menu-toggle:checked~#side-panel {
        left: 0;
    }

    #side-panel ul {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        list-style: none;
    }

    #side-panel li {
        margin-bottom: 1.5rem;

    }

    #side-panel li a {
        color: white;
        font-size: 1.1rem;
        transition: color 0.3s ease;

    }
}


#features:target~nav ul>li>a[href="#features"] {
    color: aqua;
}

section {
    scroll-margin: 1px;
}